server:
  port: 9099
spring:
  application:
    name: Tax_Gap_Detection_and_Compliance_Validation_Service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/avega
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    sql: DEBUG
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
